<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:label="학습 필기 커널"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyInk">
        <activity
            android:name="com.studyink.reader.ReaderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity android:name="com.studyink.library.LibraryActivity" android:exported="true" android:screenOrientation="fullSensor">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity
            android:name="com.studyink.progress.ProgressActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.studyink.teacher.TeacherModeGateActivity"
            android:exported="false" />
        <activity
            android:name="com.studyink.teacher.TeacherHomeActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.studyink.teacher.AnswerViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.StudyInk"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.studyink.teacher.AnswerSetupActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.studyink.teacher.TeachingResourceActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.studyink.teacher.AssistantJobActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/webp" />
            </intent-filter>
        </activity>
    </application>
</manifest>
